 <footer id="footer">
        <div class="container_12 main-footer">
            <div class="grid_12 about-us">
                <h3 class="rs title">About</h3>
                <p class="rs description">Rails Startup Project</p>
                <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:railsusers2014@gmail.com">RailsUsers</a></p>
                <p class="rs">+65 9045XXXX</p>
            </div>
   </div>
    </footer>